# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Output files from Python scripts
Out.npz
Out.mat
